.active-project {
    background-color: #fff;
    color: #26242C;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
}

.grid-cols-max-content-3 {
    grid-template-columns: repeat(3, max-content);
}

@media (max-width: 1024px) {
    .grid-cols-max-content-2 {
        grid-template-columns: repeat(2, max-content);
    }
}

@media (max-width: 768px) {
    .grid-cols-max-content-1 {
        grid-template-columns: repeat(1, max-content);
    }
}

.custom-grid {
    grid-template-columns: repeat(3, max-content);

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, max-content);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, max-content);
    }
}